.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

  width: 60vw;
  height: 60vh;
  border: 1px solid black;
  /* border-radius: 12px; */
  /* ^^ I have borders on each individual box so the corner ones will 
  conflict if I change the border of the overall div */
  /* just center this - using absolute for now */
  position: absolute;
  left: 20vw;
  right: 20vw;
  top: 15vh;
  bottom: 15vh;
}

.box {
  border: solid 1px rgb(114, 127, 139);
  /* center the text */
  display: flex;
  align-items: center;
  justify-content: center;
  /* make a bit bigger */
  font-size: 3em;
}

.op {
  background-color: lightgrey;
}

.value {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.equals {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 7;

  background-color: rgb(221, 121, 64);
}
